{% extends "layout.html" %}
{% block content %}
    <div class="col-lg-8">
        {% if not game.won %}
        <form method="POST" action="./{{ game.id }}">
            <div class="container board-container">
                <div class="row top-row">
                    <span>
                         Correctly placed pin are marked by: <span class="material-icons correct">add_circle</span>
                    </span>
                    <span>
                        Pins that are the correct color but not in the right position are marked by: <span
                            class="material-icons in_but_not_correct">add_circle_outline</span>
                    </span>
                    <span>
                        First row is game's actual code
                    </span>
                </div>
                <div class="row">
                    {% for color in code %}
                        <div class="col {{ color | replace('Color.', '') }}"></div>
                    {% endfor %}
                    <div class="col">Results</div>
                </div>

                {% for y in range(0, 10) %}
                    <div class="row">
                        {% for x in range(0, game.number_of_positions) %}
                            <div class="col {{ pins |
                                selectattr('x', 'equalto', x) |
                                selectattr('y', 'equalto',y) |
                                map(attribute='color') |
                                first |
                                replace('Color.', '') }}"
                            >
                            </div>
                        {% endfor %}
                        <div class="col">
                            {% if results[y] != Undefined %}
                                {% for _ in range(results[y].correct) %}
                                    <span class="material-icons correct">add_circle</span>
                                {% endfor %}
                                {% for _ in range(results[y].in_but_not_correct) %}
                                    <span class="material-icons in_but_not_correct">add_circle_outline</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    {% for x in range(0, game.number_of_positions) %}
                        <select class="col" name="{{ x }}">
                            <option value="None">Empty</option>
                            {% for c in Color %}
                                <option value="{{ c | replace('Color.', '') }}">{{ c | replace('Color.', '') | capitalize }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                    <div class="col"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-end mt-3">
                Submit next move
            </button>
        </form>
        {% else %}
            <div>
                <h1>Je hebt gewonnen!</h1>
                <a href="/game">Terug naar het overzicht</a>
            </div>
        {% endif %}

    </div>
{% endblock %}
